{% extends "parents/base_sort.html" %}

{% block title %}
Pigeonhole Sort
{% endblock %}

{% block info %}
<p>
Pigeonhole Sort is a sorting algorithm that is suitable for sorting lists where the range of numbers is relatively small. It works by counting occurrences of each element and placing them back into the array.
</p>
<p>
It is based on the idea of pigeonholes where each pigeonhole represents a range of values and each element is assigned to its corresponding pigeonhole.
</p>
<p>
After sorting, the elements are collected from the pigeonholes in order to obtain the sorted array.
</p>
{% endblock %}

{% block medio %}
O(n + Range)
{% endblock %}

{% block migliore %}
O(n + Range)
{% endblock %}

{% block peggiore %}
O(n + Range)
{% endblock %}

{% block memoria %}
O(Range)
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sorts/pigeonsort.js') }}" defer></script>
{% endblock %}
